<div class="row">
  <div class="col-sm-6 offset-sm-3">

      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="form-group">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        
        <%= form_for(@user) do |f| %>
           <% if @user.image? %>
              <%= image_tag @user.image.url %>
           <% else %>
              <%= image_tag "/assets/default.jpg", :size => '100x100' %>
           <% end %>
              <button type="button" class="btn btn-outline-secondary rounded-pill">
                 <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
              </button>
        　　<%= f.submit '更新する', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
  </div>
</div>
