<% provide(:search_name, 'content search') %>
<% provide(:path, root_path) %>

<%= form_tag search_path, :method => 'get' do %> <%# search_pathはconfigの設定による。rails routesでアクションの実行を確認 %>
  <p>
    <%= text_field_tag :search, params[:search] %>　<%#params[:search]の:searchはmicropost.controllerで定義したsearchメソッド %>
    <%= submit_tag "Search", :content => nil %>
  </p>
<% end %>

<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3">
        <% if micropost.user.image? %>
          <%= image_tag micropost.user.image.url, class: "mr-2 rounded avatar" %>
        <% else %>
          <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
        <% end %>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
          <p><%= image_tag micropost.image.thumb.url if micropost.image? %></p>
        </div>
        <div class="row">
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm" %>
            <%= render "favorites/favorite_button", micropost: micropost %>
          <% end %>
        </div>
          <% micropost.comments.each do |comment| %>　<%#←各投稿から取り出す　%>
            <div>
              <strong><%= comment.user.name %></strong>
              <br />
              <p><%= comment.content %></p>
            </div>
          <% end %> 
          
        <div class = 'comment_form'>
           <%= render 'comments/comment_button', micropost: micropost %>
           <%#パーシャルの中でローカル変数を使うには、そのパーシャルを呼び出しているrenderメソッド部分のコードが重要。%>
           <%#ここではmicropost.idを送っている %>
        </div> 
      </div>
    </li>
  <% end %>
