<% provide(:search_name, 'content search') %>
<% provide(:path, root_path) %>

<%= form_tag search_path, :method => 'get' do %> <%# search_pathはconfigの設定による。rails routesでアクションの実行を確認 %>
  <p>
    <%= text_field_tag :search, params[:search] %>　<%#params[:search]の:searchはmicropost.rbで定義したsearchメソッド %>
    <%= submit_tag "Search", :content => nil %>
  </p>
<% end %>

<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
          <p><%= image_tag micropost.image.thumb.url if micropost.image? %></p>
        </div>
        <div class="row">
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm" %>
          <% end %>
            <%= render "favorites/favorite_button", micropost: micropost %>
        </div>
      </div>
    </li>
  <% end %>
  <%#= paginate microposts %>
    <%# @comments.each do |comment| %>
    <%#= comment.user.name %>
    <%#= comment.content %>
    <%# end %>
</ul>

<%#= form_with model: [@micropost, @comment], local: true do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>

    <%#div class = 'form-group'>
      <%= f.text_area :content, class: 'form-control',　id:'content'\
         placeholder: "コメントを記入してください" %>
    </div>

    <%#= f.submit "コメントする", class: "btn btn-primary" %>
<%# end %>